body {
  background: #D5E1EF;
  font-family: 'Poppins';
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full height of the viewport */
  margin: 0;
}

.card {
  background: white;
  width: 320px;
  height: 499px;
  border-radius: 20px;
  box-shadow: 6px 5px 70px rgb(163, 163, 163); 
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

img {
  width: 288px;
  height: 288px;
  border-radius: 10px;
  display: block;
}

.description {
  width: 288px;
  height: 131px;
  text-align: center;
  font-size: small;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.description h3 {
  font-size: 1.2rem;
  color: #1F314F;
  width: 256px;
  height: 52px;
  margin: 5px 0; 
}

.description p {
  width: 256px;
  height: 63px;
  color: #68778D;
}

